# Devenv
.devenv*
devenv.local.nix

# Doxygen
html/
latex/

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# objects
*.o
*.obj
*.so
*.dll

# .clangd
.clangd

# Results folder
results/
old_results/

# mcmc log files
*.txt
*.png

# Simulation data folder
simulation_data/
real_data/
input/

# Podman 
.config/

# VSCode
.vscode/

# Formatting
*.clang-format
.lintr
