# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# objects
*.o
*.obj
*.so
*.dll

# .clangd
.clangd

# Results folder
results/

# mcmc log files
*.txt

# Simulation data folder
simulation_data/
